*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    background-color:rgb(104,104,225) ;
    border: none;
    display: inline-block;
    padding: .5rem 1rem;
    margin: .3rem;
    font-size:1.3rem;
    width: 50px;
    height: 50px;
    border-radius:.5rem; 
}
.newgame{
    font-size:1rem;
    text-transform:capitalize; 
    width: 100px;  
}
.textarea{
    width:100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

textarea{
    width: 100%;
    height: 150px;
    resize: none;
    padding: .5rem;
    font-size:1.2rem;
    outline:none;
    border:4px solid rgb(104,104,255);
}

